<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="x-apple-disable-message-reformatting">

    <!--[if mso]>

    <style>

        table {
            border-collapse:collapse;border-spacing:0;border:none;margin:0;
        }

        div, td {
            padding:0;
        }

        div {
            margin:0 !important;
        }

    </style>

    <noscript>

        <xml>

            <o:OfficeDocumentSettings>

                <o:PixelsPerInch>96</o:PixelsPerInch>

            </o:OfficeDocumentSettings>

        </xml>

    </noscript>

    <![endif]-->
    <style>
        table, td, div, h1, p {

            font-family: Arial, sans-serif;

        }
    </style>

</head>

<body style="margin:0;padding:0;word-spacing:normal;background-color:#939297;">
<!-- HIDDEN PREHEADER TEXT -->
<div role="article" aria-roledescription="email" lang="en" style="text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#939297;">
    <table role="presentation" style="width:100%;border:none;border-spacing:0;">

        <tr>

            <td align="center" style="padding:0;">

                <!--[if mso]>

                <table role="presentation" align="center" style="width:600px;">

                    <tr>

                        <td>

                <![endif]-->

                <table role="presentation" style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">

                    <tr>

                        <td style="padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;">

                            <p>
                            <h3 style="font-size: 17px;">
                                <strong>ShopFii</strong>
                            </h3>
                            </p>

                        </td>

                    </tr>
                    <tr>

                        <td align="center" style="padding:30px;  background-color: whitesmoke;text-align:left; background-position: center">

                            <p>
                            <h3 style="font-size: 17px;">
                                <strong>Hi {username},</strong>
                            </h3>
                            </p>
                            <p style="font-size: 15px">
                               Hello Clyton, Use the Temporary Password Below to login into your account,
                                then go to your profile or account and update your password to what you want.
                                dont forget, the temporary password is your password now.
                            </p>
                            <p style="font-size: 20px">
                                Temporary Password: {password}
                            </p>
                            <p style="text-align: center" align="center">
                                <a href="{link}" target="_blank"
                                   style="font-size: 15px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; padding: 5px 10px; border-radius: 2px; border: 1px solid #5f6d7e; background-color: #363636; display: inline-block;">Login</a>
                            </p>

                            <p style="font-size: 15px">
                                If you have not initiated reset of password, please just ignore this email.
                                To proceed with password reset however, please click the button below.
                            </p>

                            <p style="margin: 0 0 50px 0">
                                <!--WaterMark-like backgroundImage Here-->
                            </p>

                            <p>
                                <hr style="color: deepskyblue"/>
                            </p>
                            <div style="font-size: 10px; color: #5f6d7e">
                                <p style="margin: 0">
                                    Arxcess Inc, Makerere Kikoni B, Sir Apollo Kaggwa Road
                                </p>
                                <p style="margin: 0">
                                    Tell: +256-708-774-766 Email: info@arxcess.com
                                </p>
                                <p style="margin: 0">
                                    This e-mail is generated from Arxcess Accounts
                                </p>
                            </div>


                        </td>

                    </tr>

                </table>


                <!--[if mso]>

                </td>

                </tr>

                </table>

                <![endif]-->


            </td>

        </tr>

    </table>

</div>


</body>

</html>